.previewTitle {
  margin-right: 0.25em;
  font-size: 1.5em;
}

.tag {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid blue;
  color: blue;
  border-radius: 16px;
  text-decoration: none;
  margin-right: 0.25em;
}

.article-description {
  line-height: 1.65;
}
