@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');
@import url('https://use.typekit.net/mid2eae.css');

body {
  font-family: 'Helvetica Neue';
  font-size: 100%;
  color: #373f49;
  background: #fff;
  margin: 0;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  padding: 1em;
}

.postWrapper {
  max-width: 50%;
  margin: 0 auto;
  line-height: 1.65;
  font-size: 120%;
}
label {
  display: block;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 500px;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

.tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

.author-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

.tag-list li {
  text-align: center;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

@media (max-width: 600px) {
  .article-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5vmin;
  }

  .postWrapper {
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.65;
    font-size: 120%;
  }

  .tag-list {
    margin: 15% 0 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 100vw;
    grid-gap: 5vmin;
  }
}
